#boggle-board {
	justify-content: center;
	height: 70vh;
	width: 100%;
	font-size: 25px;
	table-layout: fixed;
	word-wrap: break-word;
}

h1 {
	font-family: 'Fredoka', sans-serif;
	font-weight: bold;
}

.ok {
	color: #0d6efd;
}

.err {
	color: #dc3545;
}

h4 {
	margin-bottom: 20px;
}

.timer {
	color: #0d6efd;
	/* font-family: 'Fredoka', sans-serif; */
}
